.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 25vw;
}

.input-container {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

.login-btn {
  display: block;
  margin: 20px auto 0;
  color: white;
  background-color: #3b82f6;
}

.login-btn:hover {
  background-color: #163f96;
}

